@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: url('./rock-salt-v18-latin-regular.woff2') format('woff2'),
       url('./rock-salt-v18-latin-regular.woff') format('woff');
}
